@model PXFRONT.Areas.PXAS.PXAS0000CW
@{
//ViewBag.PageId = "extr-page";
//ViewBag.PageClass = "animated fadeInDown";
}
<!DOCTYPE html>
<html lang="en-us" id="extr-page">
<head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>LNAS0001VW</title>

    <!-- #CSS Links -->
    @Styles.Render("~/content/smartadmin")

    <!-- #FAVICONS -->
    <link rel="shortcut icon" href="~/img/favicon/favicon.ico" type="image/x-icon">
    <link rel="icon" href="~/img/favicon/favicon.ico" type="image/x-icon">

    <!-- #GOOGLE FONT -->
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,300,400,700">

    <!-- #APP SCREEN / ICONS -->
    <!-- Specifying a Webpage Icon for Web Clip
         Ref: https://developer.apple.com/library/ios/documentation/AppleApplications/Reference/SafariWebContent/ConfiguringWebApplications/ConfiguringWebApplications.html -->
    <link rel="apple-touch-icon" href="~/img/splash/sptouch-icon-iphone.png">
    <link rel="apple-touch-icon" sizes="76x76" href="~/img/splash/touch-icon-ipad.png">
    <link rel="apple-touch-icon" sizes="120x120" href="~/img/splash/touch-icon-iphone-retina.png">
    <link rel="apple-touch-icon" sizes="152x152" href="~/img/splash/touch-icon-ipad-retina.png">

    <!-- iOS web-app metas : hides Safari UI Components and Changes Status Bar Appearance -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">

    <!-- Startup image for web apps -->
    <link rel="apple-touch-startup-image" href="~/img/splash/ipad-landscape.png" media="screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:landscape)">
    <link rel="apple-touch-startup-image" href="~/img/splash/ipad-portrait.png" media="screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:portrait)">
    <link rel="apple-touch-startup-image" href="~/img/splash/iphone.png" media="screen and (max-device-width: 320px)">

    <!-- デザイナー追加分 -->
    <link rel="stylesheet" type="text/css" media="screen" href="~/Content/add.css">
    <link rel="stylesheet" type="text/css" media="screen" href="~/Content/ladda.min.css">
    <link rel="stylesheet" type="text/css" media="screen" href="~/Content_Area/LNAS/LNAS0001CS.css?@DateTime.Now.ToString("yyyyMMddHHmmss")">

    <script src="~/Scripts/spin.min.js"></script>
    <script src="~/Scripts/ladda.min.js"></script>

</head>

<body class="animated fadeInDown" id="mainWindow">
    @Html.TextBoxFor(m => m.SysURL, new { id = "SysURL", style = "display: none" })
    @Html.TextBoxFor(m => m.SysDB, new { id = "SysDB", style = "display: none" })
    <header id="header">
        <div id="logo-group">
            <span id="logo"> <img src="~/img/Kanda/logo.png" alt="SmartAdmin" style="width: 230px;height:19px;margin-top: 4px;"> </span>
        </div>
        <span id="extr-page-header-space"> <span class="hidden-mobile hiddex-xs">アカウントを作りますか？</span> <a href="#" class="btn btn-danger" onclick="alert('開発中');">新規登録</a> </span>
        <!-- multiple lang dropdown : find all flags in the flags page -->
        @*<ul class="header-dropdown-list hidden-xs login">
                <li>
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"> <img src="~/img/blank.gif" class="flag flag-jp" alt="Japan"> 日本語 <i class="fa fa-angle-down"></i> </a>
                    <ul class="dropdown-menu pull-right">
                        <li>
                            <a href="javascript:void(0);"><img src="~/img/blank.gif" class="flag flag-us" alt="United States"> English (US)</a>
                        </li>
                        <li>
                            <a href="javascript:void(0);"><img src="~/img/blank.gif" class="flag flag-fr" alt="France"> Francais</a>
                        </li>
                        <li>
                            <a href="javascript:void(0);"><img src="~/img/blank.gif" class="flag flag-es" alt="Spanish"> Espanol</a>
                        </li>
                        <li>
                            <a href="javascript:void(0);"><img src="~/img/blank.gif" class="flag flag-de" alt="German"> Deutsch</a>
                        </li>
                        <li class="active">
                            <a href="javascript:void(0);"><img src="~/img/blank.gif" class="flag flag-jp" alt="Japan"> 日本語</a>
                        </li>
                        <li>
                            <a href="javascript:void(0);"><img src="~/img/blank.gif" class="flag flag-cn" alt="China"> 中文</a>
                        </li>
                        <li>
                            <a href="javascript:void(0);"><img src="~/img/blank.gif" class="flag flag-it" alt="Italy"> Italiano</a>
                        </li>
                        <li>
                            <a href="javascript:void(0);"><img src="~/img/blank.gif" class="flag flag-pt" alt="Portugal"> Portugal</a>
                        </li>
                        <li>
                            <a href="javascript:void(0);"><img src="~/img/blank.gif" class="flag flag-ru" alt="Russia"> Русский язык</a>
                        </li>
                        <li>
                            <a href="javascript:void(0);"><img src="~/img/blank.gif" class="flag flag-kr" alt="Korea"> ???</a>
                        </li>
                    </ul>
                </li>
            </ul>*@
        <!-- end multiple lang -->
    </header>
    <div id="main" role="main">
        <!-- MAIN CONTENT -->
        <div id="content" class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-7 col-lg-8 hidden-xs hidden-sm">
                    <img src="~/img/Kanda/bg_login.png">
                </div>
                <div class="col-xs-12 col-sm-12 col-md-5 col-lg-4">
                    <div class="well no-padding">
                        <form action="index.html" id="login-form" class="smart-form client-form login">
                            <header>
                                ログイン
                            </header>

                            <fieldset>

                                <section>
                                    <label class="label">メールアドレス</label>
                                    <label class="input">
                                        <i class="icon-append fa fa-user"></i>
                                        <input type="text" name="email" id="email">
                                        <b class="tooltip tooltip-top-right"><i class="fa fa-user txt-color-teal"></i> Please enter email address/username</b>
                                    </label>
                                </section>

                                <section>
                                    <label class="label">パスワード</label>
                                    <label class="input">
                                        <i class="icon-append fa fa-lock"></i>
                                        <input type="password" name="password" id="password">
                                        <b class="tooltip tooltip-top-right"><i class="fa fa-lock txt-color-teal"></i> Enter your password</b>
                                    </label>
                                    <div class="note">
                                        <a href="forgotpassword.html">パスワードを忘れてしまった場合</a>
                                    </div>
                                </section>

                                <section>
                                    <label class="checkbox">
                                        <input type="checkbox" name="remember" checked="">
                                        <i></i>ログイン状態を維持しますか？
                                    </label>
                                </section>
                            </fieldset>
                            <footer>
                                <section class="button-demo">
                                    <button id="LoginBtn" class="btn btn-primary ladda-button" data-color="blue" data-style="slide-right" onclick="Login();">ログイン</button>
                                </section>
                            </footer>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="dialog"></div>
    <!--================================================== -->
    <!-- PACE LOADER - turn this on if you want ajax loading to show (caution: uses lots of memory on iDevices)-->
    @*<script src="/Scripts/plugin/pace/pace.min.js"></script>*@

    @*<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
        <script> if (!window.jQuery.ui) { document.write('<script src="js/libs/jquery-ui-1.10.3.min.js"><\/script>');} </script>*@

    <!-- Link to Google CDN's jQuery + jQueryUI; fall back to local -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script> if (!window.jQuery) { document.write('<script src="~/scripts/libs/jquery-2.1.1.min.js"><\/script>'); } </script>
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script> if (!window.jQuery.ui) { document.write('<script src="~/scripts/libs/jquery-ui.min.js"><\/script>'); } </script>
    <!-- IMPORTANT: SmartAdmin Core -->
    @Scripts.Render("~/scripts/smartadmin")

    <!-- PACE LOADER - turn this on if you want ajax loading to show (caution: uses lots of memory on iDevices)-->
    @*<script data-pace-options='{ "restartOnRequestAfter": true }' src="~/scripts/plugin/pace/pace.min.js"></script>*@
    <script src="~/scripts/excel/xlsx.js?@DateTime.Now.ToString("yyyyMMddHHmmss")"></script>
    <script src="~/Areas/LNCOMMON/Scripts/LNASCOMMONST.js?@DateTime.Now.ToString("yyyyMMddHHmmss")"></script>
    <script src="~/Areas/LNAS/Scripts/LNAS0001ST.js?@DateTime.Now.ToString("yyyyMMddHHmmss")"></script>

    <!-- Demo purpose only! -->
    <script src="~/scripts/demo.min.js"></script>
    <script>$(".fa-spin").removeClass("fa-spin");</script>

    <!-- SmartChat UI : plugin -->
    @Scripts.Render("~/scripts/smart-chat")

    <!-- DataTables : plugin -->
    @Scripts.Render("~/scripts/datatables")

    <!-- jQGrid : plugin -->
    @Scripts.Render("~/scripts/jq-grid")

    <!-- Forms : plugin -->
    @Scripts.Render("~/scripts/forms")

    <!-- Flot Chart Plugin: Flot Engine, Flot Resizer, Flot Tooltip, Morris, Sparkline, EasyPie -->
    @Scripts.Render("~/scripts/charts")

    <!-- Vector Maps Plugin: Vectormap engine, Vectormap language -->
    @Scripts.Render("~/scripts/vector-map")

    <!-- Full Calendar -->
    @Scripts.Render("~/scripts/full-calendar")


</body>
</html>